.interfaceqr {
    position: absolute;
     top: 19%;
    left: 4%;
}
 h4, h3, label  {
    color: white;
}
label {
    color: white;
}
p{
    color:#046bd0;
}
.table {
    color:#0673e0;
}
.qr{

    top: 10px;
    position: absolute;
    left: 76px;
    border: 2px dashed #007dff;
    text-align: center;
    padding: 5px;


}
legend.legendMoldura {
    font-size: 20px;
    font-weight: normal;
    width: 202px;
}
.molduraria {
    top: 153px;
    position: absolute;
    margin: 20px;
    color:white;
}
.container.interface {
    margin-top: 123px;
    display: inline-grid;
    
}
.fieldcupons{
    color: white;
}
.f_servicos input{
    width:78px;
    margin-bottom:20px;
    margin-top:20px;
    border: 1px solid #1d8aff;
    padding: 7px;
    border-radius: 5px;
}
p#semcupom {
    background-color: #ec0000c2;
    width: 206px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    transition: 0.4s;
    visibility: visible;
    position: absolute;
    top: 242px;
    left: 704px;
    font-size: 17px;
    opacity: .7;
}
a.btnExcluir:hover {
    color: #de3a09;
    font-size: 20px;
    
}
a.btnExcluir{
 transition: .3s; 
}

.col-3.logo img {
    width: 186px;
    margin-top: 5px;
    margin-bottom: 20px;
    
}
thead.thead-dark {
    text-align: center;
}

.table th, .table td {
    padding: 0.75rem;
    /* vertical-align: top; */
    border-top: 1px solid #abaeb1;
    font-size: 15px;
    
}
fieldset {
    /* min-width: 0; */
    padding: 10px;
    margin: 0px;
    border: 1px solid gray;
    border-radius: 7px;
    font-weight: bold;
    margin-bottom: 20px;
}
.card.border-secondary.mb-3.text-center.lojas {
    display: block;
    margin: 0 auto;
    height:  244px;
    
}
.card.border-secondary.mb-3.text-center.lojas a {
   text-decoration: none;
    
}

.card.border-secondary.mb-3.text-center.lojas a:hover {
   color: white;
    
}
.codigos {
    position: absolute;
    top: 487px;
    left: 265px;
    font-weight: bold;
    background-color: #6b6565e3;
    padding: 5px;
    border-radius: 5px;
}
span.codvacs, .codfcs, .codvics {
    color: white;
}
section.container.lojas {
    margin-top: -136px;
}
span.red {
    color: #ea5f5f;
}
div#valorMoldura {
    position: absolute;
    top: 633px;
    left: 608px;
    font-weight: bold;
    font-size: 20px;
    color: #ea5f5f;
}
body.fluid-container {
    background-color: #343535;
}

div#amostra img {
    position: absolute;
    top: 265px;
    left: 497px;
    width: 274px;
    
}
.controle {
    margin-top: 23px;
    margin-left: 10px;
}
span.alt {
    position: absolute;
    top: 427px;
    left: 458px;
    font-weight: bold;
    color: #de6161;
}
span.larg {
    position: absolute;
    top: 247px;
    left: 625px;
    font-weight: bold;
    color: #de6161;
}
#modelo img {
    position: absolute;
    top: 350px;
    left: 788px;
    width: 300px;
    background-color:white;
    padding:5px;
}
#modelo p {
    position: absolute;
    top: 312px;
    left: 893px;
    font-size: 22px;
    background-color: white;
    padding: 4px;
    color: #63615c;
}

header.col-12.cabecalho {
    border-bottom: 1px solid #ccc;
    position: fixed;
    height: 80px;
    background: white;
    z-index: 2;
}
.col-lg-8.col-sd-12.cadastro {
    margin-top: -10%;
}
ul.nav {
    margin-top: -97px;
    position: absolute;
    margin-left: 25%;
}
.rodape {
    position:absolute;
    bottom:0;
    width:100%;
    height: 60px;
    background: rgb(44, 43, 43);
    color: white;
    padding: 23px;
    top: 103%;
    display: none;
}
form.col-md-6.col-sm-3 {
    margin-bottom: 34px;
}
select {
    border-radius: 4px;
    padding: 9px;
}
#check{
    display: none;
}
span.fas.fa-bars.barras {
    display: none;
    font-size: 24px;
    position: absolute;
    right: 106px;
    top: 30px;
    cursor: pointer;
}
.card.border-secondary.mb-3 {
    border: 1px solid #2196F3;
    border-radius: 4px;
    padding: 5px;
    display: inline-block;
    margin-right: 14px;
    cursor: pointer;
    transition: .3s all;
}
.card.border-secondary.mb-3.text-center:hover {
    background: #0a2f4c;
    color: white;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid gray;
}
.card-header {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    text-align: center;
}
h5.card-title {
    font-weight: bold;
    font-size: 16px;
    color: #2196f3;
    text-align: center;
}


p.card-text {
    color: #2196f3;
    
}
section.container.indexOS {
    top: 114px;
}

section.container {
    left: -50%;
    right: -59%;
    top: 36%;
    position: absolute;
    color:#0673e0;
    
}
h1 {
    color: #007bff;
}
input#exampleInputEmail1, input#exampleInputPassword1 {
    border: 1px solid #1976da;
}
input[type="text"], input[type="date"],input[type="email"], select{
    border: 1px solid #1d8aff;
}
.col-lg-5.col-sd-12.login {
    margin: 0 auto;
}
section.container.enviar {
    margin-top: -89px;
}
.row.titulo {
    margin-top: -14%;
    margin-left: 32%;
}
span#sai {
    right: 30px;
    position: absolute;
    z-index: 2;
}
form#enviaForm {
    margin-top: 55px;
    display: table-row;
}
.col-12.form {
    margin-left: -34%;
}
textarea#observa {
    width: 100%;
    height: 100px;
    border-radius: 7px;
    border: 1px solid #ccc;
}
.limit{color: #1976da;}
.col-5.cadastro {
    margin-top: -143px;
}
section.container.resumo {
    margin-top: -134px;
}
.col-6.pedidos {
    position: absolute;
    right: 45px;
    top: 211px;
}

table#table {
    margin-top: 17px;
}
.container.progres {
    background: #007bff47;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    display: none;
}
h3.row.aguarde {
    position: absolute;
    margin-top: 173px;
}
section.container.pedidos {
    top: 116px;
    left: -57%;
}
span.fas.fa-download {
    font-size: 22px;
    text-align: center;
}
.col-3.busca {
    margin: 14px auto;
    margin-bottom: 14px;
}

div#wh-widget-send-button-wrapper {
    display: none;
}
fieldset select {
    display: list-item;
}
/*--------------------------------------------------------------------------*/
 @media (max-width: 992px) {

    span.fas.fa-bars.barras{
        display: block;
       
        color:black;  
     
    
    
        }
        .rodape{
            display: none;
        }
        .col-6.pedidos {
            left: 22%;
            margin-top: 66%;
        }
       
        .nav{
            position: fixed;
            width: 100%;
            height: 100vh;
            background:rgb(27, 24, 24);
            display: block;
            margin-left: -103% !important;
            margin-top: -37px !important;
            transition: .3s;
           
            
        }
        .nav li{
    
            text-align: center;
            margin-bottom: 80px;
            display: block;
            margin-top: 20px;
    
        }
    
        #check:checked ~ .nav{
            
            display: block;
            
            margin-left: -15px !important;
    
        }
      
        .col-5.login {
         
            display: contents;
          
        }
        section.container {
            left: -55%;
                 top: 12%;
                 
           z-index: 1;
            
        }

        .col-12.cadastro {
            margin-top: 40px;
        }
        section.container.index {
            margin-top: 85px;
            margin-left: 244px;
        }
        .col-12.form {
            margin-left: 10px;
        }
       
      


          }


  
  @media (max-width: 390px) { 

    .card.border-secondary.mb-3{
    display: block;
}


.col-3.logo img {
    width: 153px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: -18px;
}


  }